{
  "root": true,
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "expect": false
  },
  "settings": {
    "flowtyped": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
